html{
  box-sizing: border-box;
}
*,*:before, *:after {
  box-sizing: inherit;
}
body{
  background: rgb(2,0,36);
background: linear-gradient(159deg, rgba(2,0,36,1) 0%, rgba(73,210,114,1) 48%, rgba(0,212,255,1) 100%);
}
#top {
  color: ;
}
.game {
  color: blueviolet;
}
nav a {
  color: #a123fd;
}
p {
  color: gray;
}
.main-heading {
  color: chocolate;
}
.navigation {
  background: green;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content:space-around;
  height: 100px;
  align-items: center;
}
.navigation__link {
  color: #fff;
  display: inline-block;
  margin-right: 20px;
}
.navigation__link--hompage {
  background: yellow;
  color: #000;
}
.week-summary {
  padding: 16px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
}
.week-summary__description {
  color: #5f0f0f;
}

.week-summary__title {
  color: green;
}
.homework {
  padding: 16px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
}
.homework--title {
  color: green;
}
.homework--description {
  color: #5f0f0f;
}
.main{
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
}
.list{
  list-style: square;
}
.table{
  width: 100%;
}
